@import url(_mapas.scss);

%grid {
 display: grid;
 grid-auto-rows: 300px;
 grid-template-columns: 1fr,1fr,1fr;
}

%cajita {
    margin: 10px;
    background-color: rgb(21, 21, 42);
     border: solid black 1px;
     overflow: hidden;
     text-align: center;
     transition: all 2s linear; 

     h3 {
        color: rgb(76, 76, 177);
        }

     img {
       width: 100px;
    }
   
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex ($coso, $justify, $alinear ) {
    display: $coso;
    justify-content: $justify;
    align-items: $alinear;
}



    