*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url(_extend.scss);
@import url(_mapas.scss);

header {
    text-align: end;
    background: rgb(39, 31, 64);
}

p {
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: $display;
        color: $display; 
       }  

 body {
            background: rgb(34,18,82);
            background: linear-gradient(94deg, rgba(34,18,82,1) 0%, rgba(32,24,52,1) 51%, rgba(30,17,77,1) 100%); 
        } 
        

.informacion_titulo {
    h1 {
        @extend %flex;
        color: $display;
        border: solid 1px;
    } 
}

.grupo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 600px;
    transition: all 2s linear;  
    padding: 50px;

    p {
        color: $display;
        font-size: $display;
        }

    .cajita {
        @extend %cajita; 

        }
   
   .cajita2 {
        @extend %cajita;
       
   }
}

.galeria_introduccion {
         h1 {
             margin-top: 20px;
             @extend %flex;
             color: $display;
             border: solid 1px;
         }
}

.padre_galeria {
    @extend %grid;
    margin-top: 50px;
    padding: 20px;
    img {
        width: 500px;
        padding: 9px;
        transition: all 1s;
    }
}

.grupo:hover {
    .cajita:hover{ 
     box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
    transform: scale(1.05);
    }

    .cajita2:hover {  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
    transform: scale(1.05);

    }

}

a:hover {
    transform: scale(1.2);
}

footer {
    background-color: $display;
    border: 1px solid $display;

    p {
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}

.presentacion  {
    display: flex;
    text-align: center;
    background-color: rgb(13, 13, 29);
    margin-top: 40px;
    padding: 10px;

}

.padre_galeria img:hover {
    transform: scale(1.1);
}

.contacto_titulo {
            h1 {
                text-align: center;
                color: $display;
                border: solid 1px;
            }
}

.contacto {
    @extend grid;

    .formulario {
        margin-top: 100px;
        padding: 50px;
        @include flex(flex, center, flex-end);
    }
    
    label {
    
    background-color: $display;
    font-size: $display;
     color: $display;

}


input {
     margin-left: 10px;
     margin-bottom: 5px;
     padding: 2px;

     
}

.imagen_contacto {
    display: grid;
    grid-row: span 2;
    background-image: url(images/individuales_chicos/contacto.jpeg);
    background-size: cover;
     h1 {
        @extend %flex;
        color: $display;
      }
}

 }



.imagen {
    @extend %grid;
    margin-top: 50px;
    margin-bottom: 20px;

    img {
        height: 100%;
        width: 100%;
    }
  
    .texto {
        display: grid;
        grid-row: span 2;
        background-color: $display;
        
        p {
            @extend %flex;
            margin-left: 100px;
            font-size: 52px;
        }
        
     
    }
   
    .spy {
        background-image: url(images/individuales_chicos/poster5.png);
        background-size: cover;
        grid-row: span 2;
        grid-column: span 2;

        h3 {
            @extend %flex;
            margin-top: 500px;
            color: rgb(180, 222, 234);
            font-weight: 200px;
            font-size: 72px;
        }
    } 

  
 
    
    }

    .carousel-item {
         p {
             font-size: 24px;
         }
    }
 .ubicacion {
     @extend grid;
    .texto_ubicacion {
        grid-column: span 2;
        grid-row: 1;
        
        h1 {
           @extend %flex;
           color: $display;
           border: solid 1px;
        }
} 
 .imagen_ubicacion {
     grid-column: span 2;
     grid-row: span 1;
        img{ 
            width: 100%;
            height: 100%;
            padding: 50px;
            margin-bottom: 100px;
            
        }  
 }
  
 .mapa {
     grid-row: span 1;
     width: 100px;
     height: 100px;
     padding: 50px;
     

     iframe {
         width: 500px;
     }
 }
  
 }
 


