* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.padre_galeria, .imagen {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 300px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grupo .cajita, .grupo .cajita2 {
  margin: 10px;
  background-color: #15152a;
  border: solid black 1px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.grupo .cajita h2, .grupo .cajita2 h2 {
  color: #4c4cb1;
}

.grupo .cajita img, .grupo .cajita2 img {
  width: 100px;
}

.informacion_titulo h1, .galeria_introduccion h1, .imagen .texto p, .imagen .spy h3, .ubicacion .texto_ubicacion h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .imagen_contacto h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

header {
  text-align: end;
  background: #271f40;
  background: cover;
}

p {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900px;
  color: #444189;
}

body {
  background: #221252;
  background: linear-gradient(94deg, #221252 0%, #201834 51%, #1e114d 100%);
  background: cover;
}

.informacion_titulo h1 {
  color: #4c4cb1;
  border: solid 1px;
}

.grupo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-auto-rows: 600px;
  padding: 50px;
}

.grupo p {
  color: #444189;
  font-size: 24px;
}

.galeria_introduccion h1 {
  margin-top: 20px;
  color: #4c4cb1;
  border: solid 1px;
}

.padre_galeria {
  margin-top: 35px;
}

.padre_galeria img {
  width: 350px;
  padding: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.grupo:hover .cajita:hover {
  -webkit-box-shadow: 1px 1px 3px 1px black;
          box-shadow: 1px 1px 3px 1px black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grupo:hover .cajita2:hover {
  -webkit-box-shadow: 1px 1px 3px 1px black;
          box-shadow: 1px 1px 3px 1px black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #20182c;
  border: 1px solid #444189;
  background: cover;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #0d0d1d;
  margin-top: 40px;
  padding: 10px;
}

.padre_galeria img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacto_titulo h1 {
  text-align: center;
  color: #444189;
  border: solid 1px;
}

.contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.contacto .formulario {
  margin-top: 100px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto label {
  background-color: #20182c;
  font-size: 24px;
  color: #444189;
}

.contacto input {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 2px;
}

.contacto .imagen_contacto {
  display: -ms-grid;
  display: grid;
  grid-row: span 2;
  grid-column: span 3;
  background-image: url(images/individuales_chicos/contacto.jpeg);
  background-size: cover;
  width: 100%;
  padding: 200px;
}

.contacto .imagen_contacto h1 {
  color: #444189;
}

.imagen {
  margin-top: 50px;
  margin-bottom: 20px;
}

.imagen img {
  height: 100%;
  width: 100%;
}

.imagen .texto {
  display: -ms-grid;
  display: grid;
  grid-row: span 2;
  background-color: #20182c;
}

.imagen .texto p {
  margin-left: 100px;
  font-size: 52px;
}

.imagen .spy {
  background-image: url(images/individuales_chicos/poster5.png);
  background-size: cover;
  grid-row: span 2;
  grid-column: span 2;
}

.imagen .spy h3 {
  margin-top: 500px;
  color: #b4deea;
  font-weight: 200px;
  font-size: 72px;
}

.carousel-item p {
  font-size: 24px;
}

.ubicacion {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.ubicacion .texto_ubicacion {
  grid-column: span 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.ubicacion .texto_ubicacion h1 {
  color: #444189;
  border: solid 1px;
}

.ubicacion .imagen_ubicacion {
  grid-column: span 2;
  grid-row: span 2;
}

.ubicacion .imagen_ubicacion img {
  width: 100%;
  height: 100%;
  padding: 50px;
  margin-left: 1px;
}

.ubicacion .mapa {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.ubicacion .mapa iframe {
  width: 100%;
}

@media (max-width: 1000px) {
  .navbar-toggler {
    background-color: #402a61;
  }
  .grupo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .padre_galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  img {
    width: 100px;
  }
  .contacto label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagen .spy {
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  .imagen .spy h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: 220px;
    width: 10px;
  }
  .imagen .spy .texto {
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  }
}
/*# sourceMappingURL=style.css.map */